Through this notebook, we are analysing CTR raw data only. CPC (cost per click data is not using in this notebook)

In [1]:
import gzip
import glob, os
import numpy as np
import pandas as pd

In [2]:
#path where negative samples data is stored
neg_data = '../data/raw/mm-ctr/train/data-negative/'
pos_data = '../data/raw/mm-ctr/train/data-positive/'

#list of all .gz files in mm-ctr train folder 
neg_paths = glob.glob(os.path.join(neg_data, '*.gz'))
pos_paths = glob.glob(os.path.join(pos_data, '*.gz'))
paths = neg_paths + pos_paths

In [3]:
print ('There are {} .gz files in total'.format(len(paths)))
print ('Number of negative files: {}, Number of positive files: {}'.format(len(neg_paths),len(pos_paths)))

There are 26 .gz files in total
Number of negative files: 25, Number of positive files: 1

In [4]:
#combine 1 negative and 1 positive files for current analysis
neg_df = pd.read_csv(paths[0],index_col=None, header=0)
pos_df = pd.read_csv(paths[-1],index_col=None, header=0)

In [5]:
#to check whether same columns available throughout
if sum(neg_df.columns == pos_df.columns) == len(neg_df.columns): 
    df = neg_df.append(pos_df).reset_index(drop = True)

In [6]:
df.head(10)

,exchange_id,user_frequency,site_id,deal_id,channel_type,size,week_part,day_of_week,dma_id,isp_id,...,mm_1211338_bpr,mm_1211339_bpr,mm_1211340_bpr,mm_1211341_bpr,mm_366510_bpr,mm_366513_bpr,mm_422899_bpr,mm_525050_bpr,mm_762574_bpr,column_weights
0,21,99,10805,0,4,19661050,0,2,80050,30014,...,0.0,0.0,0.0,0.0,0.037831,0.037832,0.0,0.000000,0.0,1.0
1,1000,99,16130,290424,1,63570170,0,3,80195,30001,...,0.0,0.0,0.0,0.0,0.029685,0.000000,0.0,0.000000,0.0,1.0
2,3,99,294390,0,4,20971570,0,2,80195,30031,...,0.0,0.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,1.0
3,4,99,1099402183,0,4,19661050,0,2,80037,30031,...,0.0,0.0,0.0,0.0,0.044743,0.000000,0.0,0.000000,0.0,1.0
4,5,99,539022666,0,4,20971570,1,0,80029,30014,...,0.0,0.0,0.0,0.0,0.017019,0.017019,0.0,0.000000,0.0,1.0
5,27,99,11745051,0,1,10486360,1,6,80030,30003,...,0.0,0.0,0.0,0.0,0.024090,0.000000,0.0,0.013247,0.0,1.0
6,21,99,9993,0,1,47710298,1,6,80173,30016,...,0.0,0.0,0.0,0.0,0.087437,0.087432,0.0,0.000000,0.0,1.0
7,5,99,537265834,139882,1,47710298,0,1,80029,30001,...,0.0,0.0,0.0,0.0,1.000000,0.000000,0.0,1.000000,0.0,1.0
8,5,99,539618232,0,1,10486360,0,5,80010,30147,...,0.0,0.0,0.0,0.0,0.012984,0.012984,0.0,0.000000,0.0,1.0
9,6,99,545756,109725,1,10486360,1,6,80029,30014,...,0.0,0.0,0.0,0.0,0.030332,0.000000,0.0,0.118792,0.0,1.0

In [7]:
df.shape

(1021860, 76)

In [8]:
print('number of negative samples = {}'.format((len(paths)-1)*len(neg_df)))
print ('number of positive samples = {}'.format(len(pos_df)))
print ('Percentage of positive to negative = {:.3f}%'.format(len(pos_df)*100/((len(paths)-1)*len(neg_df))))

number of negative samples = 25000000
number of positive samples = 21860
Percentage of positive to negative = 0.087%

In [9]:
defaults = pd.read_csv('../data/raw/mm-ctr/train/defaults.csv',index_col=None, header = 0)

In [10]:
defaults

,exchange_id,user_frequency,site_id,deal_id,channel_type,size,week_part,day_of_week,dma_id,isp_id,...,mm_1211338_bpr,mm_1211339_bpr,mm_1211340_bpr,mm_1211341_bpr,mm_366510_bpr,mm_366513_bpr,mm_422899_bpr,mm_525050_bpr,mm_762574_bpr,column_weights
0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
if sum(defaults.columns == df.columns) == len(df.columns):
    print ('defaults.csv and dataframe have same columns i.e. {}'.format(len(df.columns)))

defaults.csv and dataframe have same columns i.e. 76

** What's one hot file?**

In [12]:
one_hot = pd.read_csv('../data/raw/mm-ctr/train/one_hot.csv',index_col=None, header = 0)

/Users/dc/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (22,23,24,25,26,27,28,29,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
one_hot.shape

(204005, 77)

In [14]:
set(one_hot.columns)-set(df.columns)

{'hashable_feature', 'ohe_feature'}

In [15]:
set(df.columns)-set(one_hot.columns)

{'conversion_target'}

** conversion_target** is the target variable indicating positive class (1) vs negative class (0)

one_hot.csv file has same columns as df (data columns) except last 2 columnns :['hashable_feature', 'ohe_feature'] indicating values explained by column titles

** What is cardinality.csv file?**

In [16]:
cardinality = pd.read_csv('../data/raw/mm-ctr/train/cardinality.csv',index_col=None, header = 0)

In [17]:
cardinality

,exchange_id,user_frequency,site_id,deal_id,channel_type,size,week_part,day_of_week,dma_id,isp_id,...,device_manufacturer,device_type,exchange_id_cs_vcr,exchange_id_cs_vrate,exchange_id_cs_ctr,exchange_id_cs_category_id,exchange_id_cs_site_id,category_id,cookieless,cross_device
0,26,1,87271,801,3,87,2,7,212,66,...,148,5,26,62,166,4830,105016,2559,2,2

In [18]:
cardinality.columns

Index(['exchange_id', 'user_frequency', 'site_id', 'deal_id', 'channel_type',
       'size', 'week_part', 'day_of_week', 'dma_id', 'isp_id', 'fold_position',
       'browser_language_id', 'country_id', 'conn_speed', 'os_id', 'day_part',
       'region_id', 'browser_id', 'hashed_app_id', 'interstitial', 'device_id',
       'creative_id', 'browser', 'browser_version', 'os', 'os_version',
       'device_model', 'device_manufacturer', 'device_type',
       'exchange_id_cs_vcr', 'exchange_id_cs_vrate', 'exchange_id_cs_ctr',
       'exchange_id_cs_category_id', 'exchange_id_cs_site_id', 'category_id',
       'cookieless', 'cross_device'],
      dtype='object')

In [19]:
print (len(set(df.columns)-set(cardinality.columns)))
print (len(set(cardinality.columns)-set(df.columns)))

39
0

** the above result implies that all the columns that are mentioned in cardinality.csv file are available in data files **

## Back to exploring df

In [20]:
df.describe()

,exchange_id,user_frequency,site_id,deal_id,channel_type,size,week_part,day_of_week,dma_id,isp_id,...,mm_1211338_bpr,mm_1211339_bpr,mm_1211340_bpr,mm_1211341_bpr,mm_366510_bpr,mm_366513_bpr,mm_422899_bpr,mm_525050_bpr,mm_762574_bpr,column_weights
count,1.021860e+06,1021860.0,1.021860e+06,1.021860e+06,1.021860e+06,1.021860e+06,1.021860e+06,1.021860e+06,1.021860e+06,1.021860e+06,...,1.021860e+06,1.021860e+06,1.021860e+06,1.021860e+06,1.021860e+06,1.021860e+06,1.021860e+06,1.021860e+06,1.021860e+06,1.021860e+06
mean,7.953811e+01,99.0,3.958760e+08,6.556714e+04,1.879874e+00,2.525266e+07,1.938612e-01,3.099988e+00,8.008484e+04,3.001724e+04,...,6.879002e-08,2.556332e-08,5.389490e-08,5.898128e-08,3.232174e-01,8.902027e-02,1.086018e-02,4.812522e-02,1.009941e-06,2.640116e+01
std,2.470518e+02,0.0,5.968487e+08,9.785827e+04,1.365833e+00,1.393981e+07,3.953216e-01,1.786751e+00,7.080141e+01,3.008825e+01,...,3.557675e-05,1.834256e-05,3.250731e-05,3.473262e-05,4.139686e-01,2.368868e-01,2.397857e-02,1.868339e-01,6.791525e-04,1.718022e+02
min,3.000000e+00,99.0,-2.146794e+09,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.000200e+04,3.000000e+04,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,5.000000e+00,99.0,2.851300e+05,0.000000e+00,1.000000e+00,1.966105e+07,0.000000e+00,2.000000e+00,8.001400e+04,3.000100e+04,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.366553e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
50%,9.000000e+00,99.0,4.454551e+06,0.000000e+00,1.000000e+00,1.966105e+07,0.000000e+00,3.000000e+00,8.007500e+04,3.001000e+04,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.762468e-02,1.278574e-02,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,2.700000e+01,99.0,5.398862e+08,1.156170e+05,4.000000e+00,2.097157e+07,0.000000e+00,5.000000e+00,8.014300e+04,3.001800e+04,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.883322e-01,3.946422e-02,1.251709e-02,0.000000e+00,0.000000e+00,1.000000e+00
max,1.000000e+03,99.0,2.147429e+09,3.107990e+05,8.000000e+00,6.710896e+07,1.000000e+00,6.000000e+00,8.036400e+04,3.020400e+04,...,2.125995e-02,1.420595e-02,2.263119e-02,2.271329e-02,1.000000e+00,1.000000e+00,1.428571e-01,1.000000e+00,5.546995e-01,1.188394e+03

### unique values count for df

In [21]:
unique_counter = df.nunique()
cols = df.columns
for (col,unique_ct) in zip(cols,unique_counter):
    print ('{:<30}{:>6}'.format(col, unique_ct))

exchange_id                       25
user_frequency                     1
site_id                        32855
deal_id                          578
channel_type                       3
size                              31
week_part                          2
day_of_week                        7
dma_id                           211
isp_id                            56
fold_position                      3
browser_language_id               66
country_id                         1
conn_speed                         8
os_id                              6
day_part                           4
region_id                         53
browser_id                         9
hashed_app_id                      1
interstitial                       2
device_id                          5
creative_id                       18
browser                           23
browser_version                  492
os                                15
os_version                       158
device_model                     685
device_manufacturer               78
device_type                        4
exchange_id_cs_vcr                25
exchange_id_cs_vrate              61
exchange_id_cs_ctr                95
exchange_id_cs_category_id      3284
exchange_id_cs_site_id         38834
category_id                     2065
cookieless                         2
cross_device                       2
id_vintage                         4
exchange_viewability_rate        100
exchange_ctr                      49
exchange_vcr                       1
conversion_target                  2
mm_1065314_bpf                   125
mm_1211337_bpf                     2
mm_1211338_bpf                     2
mm_1211339_bpf                     2
mm_1211340_bpf                     2
mm_1211341_bpf                     2
mm_366510_bpf                    201
mm_366513_bpf                    131
mm_422899_bpf                     14
mm_525050_bpf                    173
mm_762574_bpf                      2
mm_1065314_pixel                   2
mm_1211337_pixel                   2
mm_1211338_pixel                   2
mm_1211339_pixel                   2
mm_1211340_pixel                   2
mm_1211341_pixel                   2
mm_366510_pixel                    2
mm_366513_pixel                    2
mm_422899_pixel                    2
mm_525050_pixel                    2
mm_762574_pixel                    2
mm_1065314_bpr                121776
mm_1211337_bpr                     4
mm_1211338_bpr                     5
mm_1211339_bpr                     3
mm_1211340_bpr                     4
mm_1211341_bpr                     4
mm_366510_bpr                 121150
mm_366513_bpr                 120188
mm_422899_bpr                 100061
mm_525050_bpr                  84858
mm_762574_bpr                      6
column_weights                     2

Exploring the data yielded that data is not OHE

In [22]:
#distribution of unique values of browser_language_id
df.groupby(['browser_language_id']).size()
#majority of language_id scores are skewed towards '0'

browser_language_id
0        97092
24931        8
24932       67
24936        1
24938      317
24939        1
24944        2
24948       59
25705       22
25954        1
25956      328
25960        1
25972       53
26209       13
26466       30
26723        1
26740       24
26746      189
26982       10
26984       17
26995        3
26998      137
27507       33
27509        9
27749       49
27757       64
27758       53
27760      338
27763        2
27764       32
         ...
28526       25
28530       40
29281      125
29286      355
29288       54
29293       11
29299       43
29300      121
29301       42
29537        1
29538        4
29539       20
29541     2877
29544        1
29549        4
29797        2
29801      130
29804       27
29808      324
30051        1
30055        8
30056       27
30066      215
30074        1
30316        4
30323       29
30569       91
31075        1
31085        1
31329        2
Length: 66, dtype: int64

In [23]:
df.groupby(['isp_id']).size()

isp_id
30000       595
30001    351431
30003    114172
30004      2752
30005      3768
30006      2748
30007       431
30009      7099
30010     44973
30011         3
30013       100
30014    198005
30016     39115
30017        22
30018      1990
30019     20505
30020      2173
30021         4
30022       206
30024      1333
30025     28105
30026      4601
30027     11793
30028      8438
30029        20
30030         1
30031    106741
30032      7776
30033         2
30035       293
30037      1364
30038      2730
30040       186
30042       158
30045         3
30048        21
30049         3
30062        32
30072        53
30074        62
30075         7
30078         4
30080        15
30081     22417
30092       152
30109        15
30112        28
30116         1
30129        20
30133        51
30147     24454
30148      3633
30186      7236
30199         2
30200        17
30204         1
dtype: int64

In [24]:
#distribution of unique values of device_id
df.groupby(['device_id']).size()

device_id
40999       296
41000    266806
42000     32872
43000    721883
46000         3
dtype: int64

In [25]:
#distribution of unique values of browser
df.groupby(['site_id']).size()

site_id
-2146794125     1
-2096423926     1
-1960461371     1
-1853154013     2
-1811249454     1
-1769306210    21
-1742357937     6
-1741648729     1
-1718977439     1
-1567979967     8
-1467319292     1
-1458927991     4
-1425373223     1
-1423591223     4
-1398425405    18
-1333101564     6
-1274378708     1
-1230653264     1
-1222264603     1
-1113212730     2
-963961382      1
-905241483     20
-846559314      6
-838170905      1
-829743231      1
-821394047      1
-695564731      2
-678787319      1
-635062095      3
-589934583     10
               ..
 2143737427     1
 2143796598     2
 2143851702     2
 2144001460     1
 2144020042     1
 2144051761    18
 2144491731     3
 2144538113     1
 2144655272     4
 2144783501     1
 2144944497     4
 2144974002     5
 2144990801     1
 2145149648     2
 2145296767    79
 2145346423     5
 2145361034     6
 2145489623     1
 2145547799     3
 2145624694     1
 2145644264     1
 2145727545    10
 2145975912     1
 2145993530     1
 2146145565     2
 2146155331     1
 2146667731     2
 2146871301     1
 2147083469    14
 2147429265     6
Length: 32855, dtype: int64

### missing value analysis

In [26]:
# the following code prints number of nulls from df
null_cts = pd.isnull(df).sum()
cols = df.columns
for (col,null_ct) in zip(cols,null_cts):
    if null_ct > 0:
        print ('{:<30}{:>6}'.format(col, null_ct))

browser                         4117
browser_version               134279
os                              6965
os_version                     30757
device_model                    2675
device_manufacturer             2675
device_type                     2384

missing values in positive class only i.e. conversion_target == 1

In [27]:
df_pos = df.iloc[np.where(df['conversion_target'] == 1)[0]]
null_cts = pd.isnull(df_pos).sum()
cols = df_pos.columns
for (col,null_ct) in zip(cols,null_cts):
    if null_ct > 0:
        print ('{:<30}{:<8}{:.2f}'.format(col, null_ct,null_ct*100/len(df_pos)))
#last col represent percentage of nulls from total positve class

browser                       77      0.35
browser_version               2734    12.51
os                            156     0.71
os_version                    745     3.41
device_model                  54      0.25
device_manufacturer           54      0.25
device_type                   53      0.24

In [ ]:
# df_dict = {} #dictionary to store dataframes
# for i in range(len(paths)):
#     df_dict[str(i)] = pd.read_csv(paths[i],index_col=None, header=0)

In [ ]:
# i = 0 #initialization for a dataframe
# for key in df_dict.keys():
#     if i == 0:
#         df = df_dict[key]
#         i += 1
#     else:
#         if sum(df.columns == df_dict[key].columns) == len(df.columns):
#             df = df.append(df_dict[key]).reset_index(drop=True)
#         else:
#             print ('df_dict[{}] has columns mismatch'.format(key))