Through this notebook, we are analysing CTR raw data only. CPC (cost per click data is not using in this notebook)

In [1]:
import gzip
import glob, os
import numpy as np
import pandas as pd

In [2]:
#path where negative samples data is stored
neg_data = '../data/raw/mm-cpc/train/data-negative/'
pos_data = '../data/raw/mm-cpc/train/data-positive/'

#list of all .gz files in mm-ctr train folder 
neg_paths = glob.glob(os.path.join(neg_data, '*.gz'))
pos_paths = glob.glob(os.path.join(pos_data, '*.gz'))
paths = neg_paths + pos_paths

In [3]:
print ('There are {} .gz files in total'.format(len(paths)))
print ('Number of negative files: {}, Number of positive files: {}'.format(len(neg_paths),len(pos_paths)))

There are 5 .gz files in total
Number of negative files: 4, Number of positive files: 1

In [4]:
#combine 1 negative and 1 positive files
neg_df = pd.read_csv(paths[0],index_col=None, header=0)
pos_df = pd.read_csv(paths[-1],index_col=None, header=0)

In [6]:
#to check whether same columns available throughout
if sum(neg_df.columns == pos_df.columns) == len(neg_df.columns): 
    print ('neg and pos cols are matching')
    df = neg_df.append(pos_df).reset_index(drop = True)

neg and pos cols are matching

In [7]:
df.head(10)

,exchange_id,user_frequency,site_id,deal_id,channel_type,size,week_part,day_of_week,dma_id,isp_id,...,am_859849_bpr,mm_1213050_bpr,mm_1213051_bpr,mm_1213052_bpr,mm_1213053_bpr,mm_1213054_bpr,mm_1213056_bpr,mm_1213057_bpr,mm_1213058_bpr,column_weights
0,1000,99,42870,297093,4,20971570,0,4,80166,30031,...,0.0,0.0,0.042418,0.0,0.042418,0.042419,0.0,0.0,0.04242,1.0
1,5,99,537323378,0,1,19661050,0,5,80006,30001,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.00000,1.0
2,9,99,195792,0,1,19661050,0,3,80003,30001,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.00000,1.0
3,5,99,540266089,0,1,63570170,0,4,80165,30001,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.00000,1.0
4,36,99,6246,0,4,19661050,0,3,80003,30001,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.00000,1.0
5,15,99,277792,0,1,19661050,0,5,80166,30147,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.00000,1.0
6,9,99,103050,0,1,19661050,0,4,80201,30025,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.00000,1.0
7,15,99,215270,0,1,10486360,0,3,80166,30001,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.00000,1.0
8,4,99,522990426,0,1,10486360,0,5,80099,30001,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.00000,1.0
9,4,99,1446220285,0,4,19661050,0,4,80166,30031,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.00000,1.0

In [8]:
df.shape

(1259264, 97)

In [9]:
print('number of negative samples = {}'.format((len(paths)-1)*len(neg_df)))
print ('number of positive samples = {}'.format(len(pos_df)))
print ('Percentage of positive to negative = {:.3f}%'.format(len(pos_df)*100/((len(paths)-1)*len(neg_df))))

number of negative samples = 3433140
number of positive samples = 400979
Percentage of positive to negative = 11.680%

** conversion_target** is the target variable indicating positive class (1) vs negative class (0)

In [10]:
df.describe()

,exchange_id,user_frequency,site_id,deal_id,channel_type,size,week_part,day_of_week,dma_id,isp_id,...,am_859849_bpr,mm_1213050_bpr,mm_1213051_bpr,mm_1213052_bpr,mm_1213053_bpr,mm_1213054_bpr,mm_1213056_bpr,mm_1213057_bpr,mm_1213058_bpr,column_weights
count,1.259264e+06,1259264.0,1.259264e+06,1.259264e+06,1.259264e+06,1.259264e+06,1.259264e+06,1.259264e+06,1.259264e+06,1.259264e+06,...,1.259264e+06,1.259264e+06,1.259264e+06,1.259264e+06,1.259264e+06,1.259264e+06,1.259264e+06,1.259264e+06,1.259264e+06,1.259264e+06
mean,1.285396e+02,99.0,5.170999e+08,2.902907e+04,2.520094e+00,3.177859e+07,1.389558e-01,3.253166e+00,8.009397e+04,3.001571e+04,...,1.119126e-02,2.320458e-03,3.669208e-03,2.341132e-03,5.649143e-03,1.060810e-03,7.061633e-04,4.463203e-04,5.117836e-03,3.407798e+00
std,3.042763e+02,0.0,7.194037e+08,8.014908e+04,2.075154e+00,2.094902e+07,3.459005e-01,1.606400e+00,7.324303e+01,2.752572e+01,...,8.309198e-02,3.188103e-02,3.799254e-02,3.118372e-02,4.953220e-02,1.984780e-02,1.679997e-02,1.307574e-02,4.510638e-02,3.522696e+00
min,3.000000e+00,99.0,-2.096424e+09,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.000200e+04,3.000000e+04,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,6.000000e+00,99.0,2.105875e+04,0.000000e+00,1.000000e+00,1.966105e+07,0.000000e+00,2.000000e+00,8.002000e+04,3.000100e+04,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
50%,2.100000e+01,99.0,3.621460e+06,0.000000e+00,2.000000e+00,2.097157e+07,0.000000e+00,3.000000e+00,8.008700e+04,3.001000e+04,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,3.600000e+01,99.0,9.593947e+08,0.000000e+00,4.000000e+00,3.067091e+07,0.000000e+00,4.000000e+00,8.017100e+04,3.001600e+04,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.561625e+00
max,1.005000e+03,99.0,2.147482e+09,3.107990e+05,9.000000e+00,1.258302e+08,1.000000e+00,6.000000e+00,8.036400e+04,3.020400e+04,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,8.561625e+00

### unique values count for df

In [11]:
unique_counter = df.nunique()
cols = df.columns
for (col,unique_ct) in zip(cols,unique_counter):
    print ('{:<30}{:>6}'.format(col, unique_ct))

exchange_id                       37
user_frequency                     1
site_id                        29502
deal_id                          227
channel_type                       6
size                              40
week_part                          2
day_of_week                        7
dma_id                           211
isp_id                            54
fold_position                      3
browser_language_id               70
country_id                         1
conn_speed                         8
os_id                              6
day_part                           4
region_id                         52
browser_id                         9
hashed_app_id                   2083
interstitial                       2
device_id                          5
creative_id                      154
browser                           25
browser_version                  468
os                                25
os_version                       175
device_model                     667
device_manufacturer               76
device_type                        6
exchange_id_cs_vcr                37
exchange_id_cs_vrate              82
exchange_id_cs_ctr               217
exchange_id_cs_category_id      2981
exchange_id_cs_site_id         33084
category_id                     1923
cookieless                         1
cross_device                       2
id_vintage                         4
exchange_viewability_rate         99
exchange_ctr                     155
exchange_vcr                       1
conversion_target                  2
am_1024847_bpf                     2
am_1024849_bpf                     2
am_1024856_bpf                     2
am_1057601_bpf                     2
am_1062915_bpf                     2
am_1120848_bpf                     2
am_439620_bpf                      2
am_484934_bpf                      2
am_796704_bpf                      2
am_859849_bpf                      2
mm_1213050_bpf                    95
mm_1213051_bpf                   148
mm_1213052_bpf                   138
mm_1213053_bpf                   180
mm_1213054_bpf                    62
mm_1213056_bpf                    83
mm_1213057_bpf                    16
mm_1213058_bpf                   158
am_1024847_pixel                   2
am_1024849_pixel                   2
am_1024856_pixel                   2
am_1057601_pixel                   2
am_1062915_pixel                   2
am_1120848_pixel                   2
am_439620_pixel                    2
am_484934_pixel                    2
am_796704_pixel                    2
am_859849_pixel                    2
mm_1213050_pixel                   2
mm_1213051_pixel                   2
mm_1213052_pixel                   2
mm_1213053_pixel                   2
mm_1213054_pixel                   2
mm_1213056_pixel                   2
mm_1213057_pixel                   2
mm_1213058_pixel                   2
am_1024847_bpr                119484
am_1024849_bpr                110115
am_1024856_bpr                 22919
am_1057601_bpr                113005
am_1062915_bpr                 86533
am_1120848_bpr                114552
am_439620_bpr                  22299
am_484934_bpr                  61204
am_796704_bpr                  97666
am_859849_bpr                  60389
mm_1213050_bpr                 20898
mm_1213051_bpr                 35671
mm_1213052_bpr                 24862
mm_1213053_bpr                 45410
mm_1213054_bpr                 13055
mm_1213056_bpr                  8181
mm_1213057_bpr                  5899
mm_1213058_bpr                 44790
column_weights                     2

Exploring the data yielded that data is not OHE

In [12]:
#distribution of unique values of browser_language_id
df.groupby(['am_1024847_pixel']).size()
#majority of language_id scores are skewed towards '0'

am_1024847_pixel
0    336681
1    922583
dtype: int64

In [13]:
#distribution of unique values of device_id
df.groupby(['device_id']).size()

device_id
40999       345
41000    265719
42000     55709
43000    876169
46000     61322
dtype: int64

In [14]:
#distribution of unique values of browser
df.groupby(['browser']).size()

browser
br_360Browser                      1
br_AmazonSilkBrowser               1
br_Android                        20
br_AndroidWebkit                 251
br_BlackBerryWebkitBrowser        50
br_Chrome                     542417
br_ChromeMobile                81023
br_ChromeMobileoniOS            4473
br_Chromium                      816
br_Edge                       138056
br_EdgeMobile                     55
br_Firefox                     84363
br_FirefoxMobile                 834
br_IE                          56057
br_IEMobile                       25
br_MobileSafari                 6338
br_Opera                        1682
br_OperaMini                       4
br_OperaMinioniOS                  5
br_PaleMoon                       44
br_Safari                      18389
br_SamsungBrowser              12706
br_UCBrowser                       7
br_Yandexbrowser                   3
br_in-App                     248595
dtype: int64

In [15]:
df.groupby(['device_manufacturer']).size()

device_manufacturer
ma_AARP                   3
ma_AT&T                  20
ma_Acer                  44
ma_Alcatel              343
ma_Amazon              5908
ma_Apple             128998
ma_Asus                 142
ma_Azpen                  4
ma_BLU                   85
ma_BQ                     1
ma_BarnesandNoble        14
ma_BlackBerry           149
ma_Blackview              1
ma_CAT                   16
ma_Casio                  1
ma_Coolpad               43
ma_Dell                  25
ma_DesktopMake       876384
ma_Digiland               1
ma_Ellipsis              81
ma_Ematic                 2
ma_Envizen                1
ma_Generic           144954
ma_Gigaset                4
ma_Google               740
ma_GreatCall             15
ma_HP                    17
ma_HTC                  533
ma_HTM                    1
ma_Hipstreet              1
                      ...
ma_Nokia                 23
ma_NuVision              10
ma_Nvidia                19
ma_OPPO                   1
ma_OnePlus               89
ma_Opera                  2
ma_PRO12                 10
ma_Polaroid               4
ma_Quanta                87
ma_RCA                  228
ma_Roku               58683
ma_Samsung            22727
ma_Sharp                  5
ma_SkyDevices             1
ma_SmarTab                2
ma_Sony                 100
ma_SonyEricsson           4
ma_Sprint                 4
ma_T-Mobile               1
ma_Tecno                  1
ma_Toshiba                1
ma_Traveltek              1
ma_Trio                   8
ma_Verizon               61
ma_VisualLand             4
ma_Vivo                   1
ma_Xiaomi                19
ma_Yezz                   1
ma_Yifang                 5
ma_ZTE                 1166
Length: 76, dtype: int64

### missing value analysis

In [16]:
# the following code prints number of nulls from df
null_cts = pd.isnull(df).sum()
cols = df.columns
for (col,null_ct) in zip(cols,null_cts):
    if null_ct > 0:
        print ('{:<30}{:>6}'.format(col, null_ct))

browser                        63049
browser_version               312111
os                             79002
os_version                    114630
device_model                    1514
device_manufacturer             1514
device_type                       55

missing values in positive class only i.e. conversion_target == 1

In [17]:
df_pos = df.iloc[np.where(df['conversion_target'] == 1)[0]]
null_cts = pd.isnull(df_pos).sum()
cols = df_pos.columns
for (col,null_ct) in zip(cols,null_cts):
    if null_ct > 0:
        print ('{:<30}{:<8}{:.2f}'.format(col, null_ct,null_ct*100/len(df_pos)))
#last col represent percentage of nulls from total positve class

browser                       56441   14.08
browser_version               65434   16.32
os                            56501   14.09
os_version                    74903   18.68
device_model                  15      0.00
device_manufacturer           15      0.00
device_type                   13      0.00

In [ ]:
# df_dict = {} #dictionary to store dataframes
# for i in range(len(paths)):
#     df_dict[str(i)] = pd.read_csv(paths[i],index_col=None, header=0)

In [ ]:
# i = 0 #initialization for a dataframe
# for key in df_dict.keys():
#     if i == 0:
#         df = df_dict[key]
#         i += 1
#     else:
#         if sum(df.columns == df_dict[key].columns) == len(df.columns):
#             df = df.append(df_dict[key]).reset_index(drop=True)
#         else:
#             print ('df_dict[{}] has columns mismatch'.format(key))