In [23]:
import os
import sys
import csv
import glob
import json
import random

import numpy as np
import pandas as pd
import tensorflow as tf

In [24]:
DATASET = 'mm-cpc'
POSITIVE_SAMPLE_PROPORTION = 11
if DATASET == 'mm-cpc':
    val_dir = '../data/processed/mm-cpc-generator/validation/'
val_csv = glob.glob(os.path.join(val_dir, '*.csv'))

In [25]:
val_df = pd.read_csv(val_csv[-1],index_col=None, header=0)

In [26]:
val_df.shape

(355741, 97)

In [27]:
pos_idx = np.where(val_df.conversion_target == 1)[0]
neg_idx = np.where(val_df.conversion_target == 0)[0]

In [28]:
len(pos_idx),len(neg_idx)

(55977, 299764)

In [29]:
#number of negative samples needed from validation dataset is:
pos_samples_ct_reqd = round(POSITIVE_SAMPLE_PROPORTION*len(neg_idx)/(100-POSITIVE_SAMPLE_PROPORTION))
pos_samples_ct_reqd

37049

In [30]:
pos_idx_df_selected = random.sample(list(pos_idx), pos_samples_ct_reqd)

In [31]:
idx_selected = pos_idx_df_selected + list(neg_idx)
idx_selected = random.sample(idx_selected, len(idx_selected))

In [32]:
val_df_final = val_df.iloc[idx_selected,:].reset_index(drop=True).copy()

In [33]:
val_df_final.head()

,exchange_id,user_frequency,site_id,deal_id,channel_type,size,week_part,day_of_week,dma_id,isp_id,...,am_859849_bpr,mm_1213050_bpr,mm_1213051_bpr,mm_1213052_bpr,mm_1213053_bpr,mm_1213054_bpr,mm_1213056_bpr,mm_1213057_bpr,mm_1213058_bpr,column_weights
0,5,99,537324207,0,1,19661050,1,0,80037,30001,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
1,13,99,1840458,0,1,19661050,0,3,80197,30001,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
2,15,99,265023,0,1,19661400,0,3,80165,30001,...,0.0,0.050724,0.050729,0.0,0.050747,0.050742,0.050724,0.050747,0.050749,1.0
3,9,99,135890,0,1,19661050,0,3,80146,30001,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
4,5,99,76446,0,1,19661050,0,3,80077,30001,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0

In [34]:
val_df_final.to_csv(val_csv[-1],index = False)

In [35]:
55977+299764,37049+299764

(355741, 336813)

In [40]:
a = pd.read_csv(val_csv[-1])#,index_col=None, header=0)

In [41]:
a.head()

,exchange_id,user_frequency,site_id,deal_id,channel_type,size,week_part,day_of_week,dma_id,isp_id,...,am_859849_bpr,mm_1213050_bpr,mm_1213051_bpr,mm_1213052_bpr,mm_1213053_bpr,mm_1213054_bpr,mm_1213056_bpr,mm_1213057_bpr,mm_1213058_bpr,column_weights
0,30,99,2057062530,0,2,27918576,0,3,80026,30014,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1000,99,181724,282619,1,19661050,0,3,80206,30016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,9,99,151284717,0,1,19661050,1,6,80197,30014,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1000,99,152996,296449,1,19661050,1,0,80071,30014,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,9,99,135898,0,4,20971570,0,2,80197,30031,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [42]:
a.shape

(336813, 97)