In [1]:
import os
import sys
import csv
import glob
import json
import random

import numpy as np
import pandas as pd
import tensorflow as tf

/Users/dc/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)
/Users/dc/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
#RAW_DIR = args.raw_dir
DATASET = 'mm-cpc'
POSITIVE_SAMPLE_PROPORTION = 11
if DATASET == 'mm-cpc':
    val_csv = ['../data/processed/mm-cpc/validation.csv']
#val_csv = glob.glob(os.path.join(val_dir, '*.csv'))

In [3]:
val_df = pd.read_csv(val_csv[-1],index_col=None, header=0)

In [4]:
val_df.shape

(355741, 144)

In [5]:
pos_idx = np.where(val_df.conversion_target == 1)[0]
neg_idx = np.where(val_df.conversion_target == 0)[0]

In [6]:
(37049, 299764)

(37049, 299764)

In [7]:
len(pos_idx),len(neg_idx)

(55977, 299764)

In [8]:
#number of negative samples needed from validation dataset is:
pos_samples_ct_reqd = round(POSITIVE_SAMPLE_PROPORTION*len(neg_idx)/(100-POSITIVE_SAMPLE_PROPORTION))
pos_samples_ct_reqd

37049

In [9]:
pos_idx_df_selected = random.sample(list(pos_idx), pos_samples_ct_reqd)

In [10]:
idx_selected = pos_idx_df_selected + list(neg_idx)
idx_selected = random.sample(idx_selected, len(idx_selected))

In [11]:
val_df_final = val_df.iloc[idx_selected,:].reset_index(drop=True).copy()

In [12]:
val_df_final.head()

,am_1024847_bpf,am_1024847_bpr,am_1024847_pixel,am_1024849_bpf,am_1024849_bpr,am_1024849_pixel,am_1024856_bpf,am_1024856_bpr,am_1024856_pixel,am_1057601_bpf,...,os_id_3,os_id_4,os_id_5,os_version,region_id,site_id,size,week_part_0,week_part_1,conversion_target
0,0.553510,-0.311994,0.553510,-0.807498,-0.368688,-0.807498,-0.172283,-0.101304,-0.172283,-0.766844,...,0.0,1.0,0.0,82.0,40.0,3824.0,1.0,0.0,1.0,0.0
1,-1.806652,-0.555130,-1.806652,-0.807498,-0.368688,-0.807498,-0.172283,-0.101304,-0.172283,-0.766844,...,0.0,1.0,0.0,0.0,44.0,52073.0,0.0,1.0,0.0,1.0
2,-1.806652,-0.555130,-1.806652,1.238393,-0.346148,1.238393,-0.172283,-0.101304,-0.172283,-0.766844,...,0.0,1.0,0.0,87.0,36.0,41684.0,8.0,1.0,0.0,0.0
3,0.553510,-0.095121,0.553510,1.238393,-0.108272,1.238393,-0.172283,-0.101304,-0.172283,1.304047,...,1.0,0.0,0.0,30.0,43.0,34977.0,8.0,1.0,0.0,0.0
4,0.553510,-0.505272,0.553510,-0.807498,-0.368688,-0.807498,-0.172283,-0.101304,-0.172283,1.304047,...,0.0,1.0,0.0,82.0,32.0,38627.0,8.0,1.0,0.0,0.0

In [13]:
val_df_final.to_csv(val_csv[-1],index = False)

In [14]:
55977+299764,37049+299764

(355741, 336813)

In [15]:
a = pd.read_csv(val_csv[-1])#,index_col=None, header=0)

In [16]:
a.head()

,am_1024847_bpf,am_1024847_bpr,am_1024847_pixel,am_1024849_bpf,am_1024849_bpr,am_1024849_pixel,am_1024856_bpf,am_1024856_bpr,am_1024856_pixel,am_1057601_bpf,...,os_id_3,os_id_4,os_id_5,os_version,region_id,site_id,size,week_part_0,week_part_1,conversion_target
0,0.553510,-0.311994,0.553510,-0.807498,-0.368688,-0.807498,-0.172283,-0.101304,-0.172283,-0.766844,...,0.0,1.0,0.0,82.0,40.0,3824.0,1.0,0.0,1.0,0.0
1,-1.806652,-0.555130,-1.806652,-0.807498,-0.368688,-0.807498,-0.172283,-0.101304,-0.172283,-0.766844,...,0.0,1.0,0.0,0.0,44.0,52073.0,0.0,1.0,0.0,1.0
2,-1.806652,-0.555130,-1.806652,1.238393,-0.346148,1.238393,-0.172283,-0.101304,-0.172283,-0.766844,...,0.0,1.0,0.0,87.0,36.0,41684.0,8.0,1.0,0.0,0.0
3,0.553510,-0.095121,0.553510,1.238393,-0.108272,1.238393,-0.172283,-0.101304,-0.172283,1.304047,...,1.0,0.0,0.0,30.0,43.0,34977.0,8.0,1.0,0.0,0.0
4,0.553510,-0.505272,0.553510,-0.807498,-0.368688,-0.807498,-0.172283,-0.101304,-0.172283,1.304047,...,0.0,1.0,0.0,82.0,32.0,38627.0,8.0,1.0,0.0,0.0

In [17]:
a.shape

(336813, 144)